<ion-view view-title=" DISCORVER NOTES" >
  <ion-content>
    <div class="item" ng-repeat="mynot in notes" ng-if="color[mynot.color_id-1].name==search.color || smell[mynot.smell_id-1].name==search.smell || taste[mynot.taste_id-1].name==search.taste"><!--remove the item-thumbnail-left if cant fix the images-->
      <div class="review review-small">{{rum[mynot.rum_id-1].brand}}</div>
      <div class="review review-small">{{rum[mynot.rum_id-1].name}}</div>
      <div class="review review-small">{{color[mynot.color_id-1].name}} - {{smell[mynot.smell_id-1].name}} - {{taste[mynot.taste_id-1].name}}</div>
    </div>

    <a class="button button-full button-light-black" href="#/app/menu">
      TAKE ME BACK
    </a>
  </ion-content>
</ion-view>
