<ion-view view-title="DISCOVER">
  <ion-content class="has-header">
    <ion-list ng-hide="choice!=null || choice2!=null || choice3!=null">
      <ion-radio class="selection" ng-model="choice" ng-value="'A'">Color</ion-radio>
      <ion-radio class="selection" ng-model="choice2" ng-value="'B'" >Smell</ion-radio>
      <ion-radio class="selection" ng-model="choice3" ng-value="'C'">Taste</ion-radio>
    </ion-list>
    <label class="item item-input item-select" ng-show="choice!=null || choice2!=null || choice3!=null">
      <div class="input-label" ng-if="choice!=null">
        <span>
          COLOR
        </span>
        <select ng-model="search">
          <option class="selection small" ng-repeat="colours in color">{{colours.name}}</option>
        </select>
      </div>
      <div class="input-label" ng-if="choice2!=null">
        <span>
          SMELL
        </span>
        <select  ng-model="search">
          <option class="selection small" ng-repeat="colours in smell">{{colours.name}}</option>
        </select>
      </div>
      <div class="input-label" ng-if="choice3!=null">
          <span>
            TASTE
          </span>
          <select ng-model="search">
            <option class="selection small" ng-repeat="colours in taste">{{colours.name}}</option>
          </select>
      </div>
    </label>

<!--Buttons-->
    <a class="button button-full button-light-red" href="#/app/dicovernotes">
        FIND
    </a>
    <a class="button button-full button-light-black" href="#/app/menu">
        BACK TO MENU
    </a>
  </ion-content>

</ion-view>
