<ion-view view-title="INFORMATION" style="page-light-red">
  <ion-content>

    <div class="list">

    <label class="item item-input item-select">

      <div class="input-label">
      BRAND
      </div>
      <select ng-model="note.brand">
        <option selected>--BRAND--</option>
        <option  ng-repeat="rumName in rum" >{{rumName.brand}}</option>
      </select>
      </label>

    <label class="item item-input item-select">

      <div class="input-label">
      NAME
      </div>
      <select ng-model="note.name" >
        <option selected>--NAME--</option>
          <option  ng-repeat="rumName in rum" >{{rumName.name}}</option>



      </select>
    </label>

    <label class="item item-input item-select">

      <div class="input-label">
      YEAR
      </div>
      <select ng-model="note.year">
        <option selected>--YEAR--</option>
        <option  ng-repeat="rumName in rum" >{{rumName.age}}</option>
      </select>
    </label>

</div>

<a class="button button-full button-light-brown" href="#/app/color">
  CONTINUE
</a>
<a class="button button-full button-light-red" href="#">
  HELP
</a>

  </ion-content>
</ion-view>
