<ion-view view-title="Info" style="background-color:#FFC900">
  <ion-content>

    <div class="list">

  <label class="item item-input item-select">

    <div class="input-label">
      Type
    </div>
    <select>
      <option>Dark</option>
      <option selected>Flavored</option>
      <option>Gold</option>
      <option>Light</option>
      <option >Overproof</option>
      <option>Premium</option>
       <option>Spiced</option>
    </select>
  </label>
  <br><br>
<label class="item item-input item-select">

    <div class="input-label">
      Year
    </div>
    <select>
      <option>1922</option>
      <option selected>1992</option>
      <option>1980</option>
    </select>
  </label>
    <br><br>
<label class="item item-input item-select">

    <div class="input-label">
      Brand
    </div>
    <select>
      <option>Santa Teresa</option>
      <option selected>Carta Roja</option>
      <option>La botella de Ron</option>
 
    </select>
  </label>

</div>
  <a class="button button-full button-positive" href="#/app/color">
  		Continue
    </a>
  </ion-content>
</ion-view>