<ion-view view-title="My notes" >
  <ion-content>
    <div class="item" ng-repeat="mynot in notes"><!--remove the item-thumbnail-left if cant fix the images-->
      <div class="review review">{{rum[mynot.rum_id-1].brand}}</div>
      <div class="review review">{{rum[mynot.rum_id-1].name}}</div>
      <div class="review review">{{color[mynot.color_id-1].name}} - {{smell[mynot.smell_id-1].name}} - {{taste[mynot.taste_id-1].name}}</div>
    </div>

    <a class="button button-full button-light-black" href="#/app/menu">
      BEAUTIFUL! NOW TAKE ME BACK
    </a>
  </ion-content>
</ion-view>
