<ion-view view-title="My notes" >
  <ion-content>
    <div class="list">

    <div class="item item-thumbnail-left" ng-repeat="mynot in notes">
      <img src="https://columbiawinecoblog.files.wordpress.com/2015/07/rums.jpg">
      <div >Brand: {{rum[mynot.rum_id-1].brand}}</div>
      <div >Color:{{color[mynot.color_id-1].name}} </div>
      <div >Smell:{{smell[mynot.smell_id-1].name}}</div>
      <div >Taste:{{taste[mynot.taste_id-1].name}}</div>
    </div>




</div>
  </ion-content>
</ion-view>
