<ion-view view-title="Smell" style="background-color:#f1cb89">
  <ion-content>
    <div class="list">

    <a class="item item-thumbnail-left" href="#">
      <img src="https://columbiawinecoblog.files.wordpress.com/2015/07/rums.jpg">
      <h2>Brand,Year</h2>
      <p>Color:
      	<br>
      	smell:
      	<br>
      	taste:
      </p>
    </a>
     <a class="item item-thumbnail-left" href="#">
      <img src="https://columbiawinecoblog.files.wordpress.com/2015/07/rums.jpg">
      <h2>Brand,Year2</h2>
      <p>Color:
      	<br>
      	smell:
      	<br>
      	taste:
      </p>
    </a>

 <a class="item item-thumbnail-left" href="#">
      <img src="https://columbiawinecoblog.files.wordpress.com/2015/07/rums.jpg">
      <h2>Brand,Year3</h2>
      <p>Color:
      	<br>
      	smell:
      	<br>
      	taste:
      </p>
    </a>




</div>
  </ion-content>
</ion-view>
