<ion-view view-title="REVIEW">
  <ion-content class="has-header" >
<div class="list card">
  <div class="item item-body">
      <div class="review">Brand: Santa Teresa</a>
      <div class="review">Name: Linaje</a>
      <div class="review">Year: 1997</a>
  </div>
  <div class="item item-body">
      <div class="color-icon"></a>
  </div>
</div>


  <a class="button button-full button-light-red" href="#saas">
  		THAT'S PERFECT!
  </a>
  <a class="button button-full button-light-black" href="#/app/info">
      ALL WRONG! LET ME TRY AGAIN
  </a>
  </ion-content>
</ion-view>
