<ion-view view-title="SMELL" style="page-light-black">
  <ion-content>
    <ion-radio ng-model="choice" ng-value="'A'">Red</ion-radio>
    <ion-radio ng-model="choice" ng-value="'B'">white</ion-radio>
    <ion-radio ng-model="choice" ng-value="'C'">Caramel</ion-radio>
    <div  ng-repeat="test in smell">
                   <ion-radio ng-model="settings.id" ng-value="test.id">{{test.name}}</ion-radio>
    </div>

  <a class="button button-full button-light-orange" href="#/app/taste">
  		CONTINUE
  </a>
  <a class="button button-full button-light-red" href="#/app/smell">
      HELP
  </a>
  </ion-content>
</ion-view>
