<ion-view view-title="SMELL" style="page-light-black">
  <ion-content>
    <div>
    <input type=search>
    </input>
    </div>
    <div  ng-repeat="test in smell">
      <ion-radio ng-model="settings.id" ng-value="test.id">{{test.name}}</ion-radio>
    </div>

  <a class="button button-full button-light-orange" href="#/app/taste">
  		CONTINUE
  </a>
  <a class="button button-full button-light-red" href="#/app/smell">
      HELP
  </a>
  <a class="button button-full button-light-black" href="#/app/color">
      RETURN
  </a>
  </ion-content>
</ion-view>
