<ion-view view-title="TASTE" style="page-light-orange">
  <ion-content>

    <div  ng-repeat="test in taste">
                   <ion-radio ng-model="settings.id" ng-value="test.id">{{test.name}}</ion-radio>
    </div>

  <a class="button button-full button-light-orange" href="#app/review">
  		FINISH
  </a>
  <a class="button button-full button-light-red" href="#/app/smell">
      HELP
  </a>
  <a class="button button-full button-light-black" href="#/app/smell">
      RETURN
  </a>
  </ion-content>
</ion-view>
