<ion-view view-title="TASTE" style="page-light-orange">
  <ion-content>
      <div class="item item-input-inset">
        <label class="item-input-wrapper">
        <input type="text" placeholder="Taste" ng-model="checked2.word">
        </label>
        <button class="button button-small" ng-click="refresh2()">
        Submit
        </button>
      </div>
                   <ion-radio ng-repeat="test in tastes" ng-value="test.id" ng-model="note.taste">{{test.name}}</ion-radio>


    <div class="list">
        <div class="item range range-positive">
          <i class="icon ion-minus-circled"></i>
          <input type="range" name="volume" min="0" max="4" value="2" ng-model='note.itensityTaste'>
          <i class="icon ion-plus-circled"></i>
        </div>
   </div>

  <a class="button button-full button-light-orange" href="#app/review">
  		FINISH
  </a>
  <a class="button button-full button-light-red" href="#/app/smell">
      HELP
  </a>
  <a class="button button-full button-light-black" href="#/app/smell">
      RETURN
  </a>
  </ion-content>
</ion-view>
