/* Empty. Add your own CSS if you like */
p { text-align: center }

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 15px;
    opacity: 0.5;
    position: absolute;

    }

.avatar{
 	  display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 60px;
    width: 25%
}
.menu .scroll-content {
    z-index: 10;
    background-color: ;
}
.menu .bar-header {
    z-index: 11;
    background-color: transparent;
}
.item-select {
    border-color: transparent;
    background-color: transparent;
    position: relative;
}
