/* Empty. Add your own CSS if you like */
p { text-align: center }

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
     }
   .info{
   	background-color: black;

     }

   [nav-bar-transition="ios"] [nav-bar="active"] .bar, [nav-bar-transition="ios"] [nav-bar="entering"] .bar {
    background: #FFC900;
}

.avatar{
 	display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50px;
    width: 25%
}
.menu .scroll-content {
    z-index: 10;
    background-color: #444444;
}
.menu .bar-header {
    z-index: 11;
    background-color: #FFC900;
}
.item-select {
    border-color: transparent;
    background-color: transparent;
    position: relative;
}
